<div class="row bg-concert">
  <div class="col">
    <div class="row bg-black px-5 py-3">
      <h2 class="text-white font-weight-bold font-italic thoomin m-0">
        Thoomin
      </h2>
      <button class="btn btn-primary btn-lg ml-auto" [routerLink]="'/login'">
        Login
      </button>
    </div>
    <div class="memo">
      <h1 class="text-white font-weight-bold font-italic text-center mb-3">
        Get the party BOOMIN with THOOMIN
      </h1>
      <h3 class="text-white font-weight-bold text-center">
        A Spotify-powered experience that you and your guests can control
      </h3>
    </div>
  </div>
</div>
