<h1 class="text-thoomin">Dashboard</h1>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <button
      (click)="searchSpotify()"
      class="btn btn-outline-primary"
      type="button"
    >
      <i class="fa fa-search"></i>
    </button>
  </div>
  <input
    [(ngModel)]="search"
    type="text"
    class="form-control"
    placeholder="Search..."
  />
</div>
<div *ngFor="let track of tracks" class="row mb-2">
  <div class="col-auto pr-0">
    <img
      [src]="track.album.images[2].url"
      class="img-fluid"
    />
  </div>
  <h5 class="col my-auto text-thoomin">
    {{ track.name }}
  </h5>
  <button class="btn">
    <i class="fa fa-plus"></i>
  </button>
</div>
