.btn {
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: auto;
    color: white;
    &:hover {
      background-color: transparent;
      border: none;
      outline: none;
      color: grey;
    }
  }
  
h5 {
    color: white;
    text-align: left;
}
