@import '~bootstrap/dist/css/bootstrap.css';
@import '~font-awesome/css/font-awesome.css';
html,
body {
  height: 100%;
  background-color: #f1f3fb;
  font-family: 'Helvetica';
}

.bg-concert {
  /* The image used */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./assets/Concert.jpg');

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-black {
  background-color: black;
}

.btn-spotify {
  background-color: #2fd565;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.text-thoomin {
  color: white;
  font-weight: bold;
  font-style: italic;
}
