.navbar {
    background: black;
}

.row{
    padding-top: 4rem;
}

.btn-primary {
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: auto;
    color: white;
    &:hover {
      background-color: transparent;
      border: none;
      outline: none;
      color: grey;
    }
  }
